body {
    margin: 0;

}

.div1, .div2 {
    height: 100vh;
}

.div1 {
    background: pink;
}

.div2 {
    background: salmon;
}

.square {
    width: 150px;
    height: 20vh;
    background: fuchsia;
  

}

.square2 {
    margin-top: 160px;
    width: 150px;
    height: 150px;
    background: blueviolet;
}

.red {
    background: red;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
}
